<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <handlers>
      <add modules="httpPlatformHandler" name="httpplatformhandler" path="*" requireAccess="Script" resourceType="Unspecified" verb="*"/>
    </handlers>
    <!--    <httpPlatform stdoutLogEnabled="true" stdoutLogFile="rails.log" startupTimeLimit="20" processPath="D:\Dropbox\Tempwork\blog\run.bat"
                  arguments="%HTTP_PLATFORM_PORT%"> -->
    <httpPlatform arguments="&quot;C:\apps\Ruby2.1.0\bin\rails&quot; server -p %HTTP_PLATFORM_PORT% -b 127.0.0.1" processPath="C:\apps\Ruby2.1.0\bin\ruby.exe" startupTimeLimit="20" stdoutLogEnabled="true" stdoutLogFile="rails.log">
      <environmentVariables>
        <environmentVariable name="RAILS_ENV" value="production"/>
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>