<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <heliconZoo>
            <clear />
            <application name="ruby.project">
                <environmentVariables>
                    <add name="RACK_ENV" value="development" />
                    <add name="RAILS_RELATIVE_URL_ROOT" value="%APPL_VIRTUAL_PATH%" />
                    <add name="SECRET_KEY_BASE" value="9daf0971f63dcdca85887ade70965dc2e8656fc7fc822046e86871141174052d41b16724c310eb33ad81f6ac1a6187974ab490dfd763f316fc5152d55a060d74" />
                    <add name="DEPLOY_FILE" value="deploy.rb" />
                    <add name="CONSOLE_URL" value="console" />
                    <add name="ERROR_LOG_DIR" value="%APPL_VIRTUAL_PATH%\log" />
                    <add name="DEPLOY_LOG" value="%APPL_VIRTUAL_PATH%\log" />
                </environmentVariables>
            </application>
     </heliconZoo>


    <handlers>
      <remove name="ruby.project#x86" />
      <remove name="ruby.project#x64" />
            <add name="ruby.project#x64" path="*" verb="*" modules="HeliconZoo_x64" scriptProcessor="ruby.2.1x64.rack" resourceType="Unspecified" requireAccess="Script" preCondition="bitness64" />
            <add name="ruby.project#x86" path="*" verb="*" modules="HeliconZoo_x86" scriptProcessor="ruby.2.1x64.rack" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />

      <!-- All transports below support Rails 2.3, 3.0 and 3.1 as well as any Rack-based application. Uncomment the one you wish to use. -->
      
      <!-- Ruby 1.9 over FastCGI -->
      

      <!-- Ruby 1.8 over FastCGI 
      <add name="ruby.project#x86" scriptProcessor="ruby.1.8.rack"  path="*" verb="*" modules="HeliconZoo_x86" preCondition="bitness32" resourceType="Unspecified" requireAccess="Script" />
      <add name="ruby.project#x64" scriptProcessor="ruby.1.8.rack"  path="*" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
      -->

      <!-- Ruby 1.9 over HTTP, using Thin or other back-end application server
      <add name="ruby.project#x86" scriptProcessor="ruby.1.9.http"  path="*" verb="*" modules="HeliconZoo_x86" preCondition="bitness32" resourceType="Unspecified" requireAccess="Script" />
      <add name="ruby.project#x64" scriptProcessor="ruby.1.9.http"  path="*" verb="*" modules="HeliconZoo_x64" preCondition="bitness64" resourceType="Unspecified" requireAccess="Script" />
      -->
    </handlers>


    <!-- URL Rewrite rules to pass static files, limit console access, etc. -->
    <rewrite>
      <rules>

        <!-- This rule rewrites '/' requests to /public/index.html -->
        <rule name="index" stopProcessing="true">
          <match url="^$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{APPL_PHYSICAL_PATH}" pattern="(.*)" ignoreCase="false" />
            <add input="{C:1}public\index.html" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/index.html" />
        </rule>

        <!-- Rewrite static files requests to /public folder to bypass Ruby processing.
             This speeds up static files significantly. Please put all your static
             files into the /public folder. -->
        <rule name="Static Files" stopProcessing="true">
          <match url="^(?!public)(.*)$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{APPL_PHYSICAL_PATH}" pattern="(.*)" ignoreCase="false" />
            <add input="{C:1}public\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="public/{R:1}" />
        </rule>

        <!-- This rule rewrites Rails assets requests. Copy web.config file from
             /public folder to /app/assets to speed it up. -->
        <rule name="Rails 3.1 assets" stopProcessing="true">
          <match url="^assets/(.*)$" ignoreCase="true" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{APPL_PHYSICAL_PATH}" pattern="(.*)" ignoreCase="false" />
            <add input="{C:1}app\assets\{R:1}" matchType="IsFile" />
          </conditions>
          <action type="Rewrite" url="app/assets/{R:1}" />
        </rule>
        
        <!-- This rule shows welcome page when no Rack application exist. -->
        <rule name="Rewrite to Zoo index if that's an empty application" stopProcessing="true">
          <match url="^/?$" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{APPL_PHYSICAL_PATH}" pattern="(.*)" ignoreCase="false" />
            <add input="{C:1}config.ru" matchType="IsFile" negate="true" />
          </conditions>

          <action type="Rewrite" url="public/zoo-index.html" />
        </rule>

      </rules>    
    </rewrite>

  </system.webServer>
</configuration>