<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
			    <!-- 
			    This removes Helicon Zoo handler to allow IIS process files in this folder directly.
			    -->

			    <remove name="ruby.project#x64" />
 			    <remove name="ruby.project#x86" />
        </handlers>
    </system.webServer>
</configuration>